body {
      background-color: lightblue;
}
p {
    color:black;font-size:19px;font-family:arial;
}

h1 {
    color:black;font-size:25px;font-family:arial;
}

p.big {
    color:black;
}
#para1 {
      color:blue;font-size:25px;font-family:sans-serif;
}
